#not-imp-not-urgent {
  background: rgb(255, 17, 0);
  background: -moz-linear-gradient(315deg, rgba(255, 17, 0, 1) 0%, rgba(84, 22, 19, 0.8122770592612045) 69%);
  background: -webkit-linear-gradient(315deg, rgba(255, 17, 0, 1) 0%, rgba(84, 22, 19, 0.8122770592612045) 69%);
  background: linear-gradient(315deg, rgba(255, 17, 0, 1) 0%, rgba(84, 22, 19, 0.8122770592612045) 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff1100",endColorstr="#541613",GradientType=1);
  height: 40vh;
}

.header {
  font-size: 2rem;
  text-align: left;
  color: white;
}

.scrollbar { 
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: rgba(226, 211, 5, 0.637) rgba(255, 255, 255, 0);
}

.card {
  background-color: #478859;
  border: none;
  border-radius: 1rem;
}

.task {
  border-radius: 20px;
  border: none;
  background-color: #d9d9d92d;
  color: black;
}