
.scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: rgba(226, 211, 5, 0.637) rgba(255, 255, 255, 0);
  }
  #not-imp-urgent {
    background: rgb(255,17,0);
background: -moz-linear-gradient(315deg, rgba(255,17,0,1) 0%, rgba(84,22,19,0.8122770592612045) 69%);
background: -webkit-linear-gradient(315deg, rgba(255,17,0,1) 0%, rgba(84,22,19,0.8122770592612045) 69%);
background: linear-gradient(315deg, rgba(255,17,0,1) 0%, rgba(84,22,19,0.8122770592612045) 69%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff1100",endColorstr="#541613",GradientType=1);
  }
  
  .header {
    font-size: 2rem;
    text-align: left;
    color:white;
  }
  
  .card {
    background-color: #478859;
    border: none;
    border-radius: 1rem;
  }
  