<div class="scrollbar rounded-4 scrollbar" id="imp-not-urgent">
  <div class="row">
    <div class="col-sm-12 mx-4 header">Important but not urgent</div>
    @for (task of INUTasks; track task.id) {
      <div class="row">
        <div class="card task col-9 task rounded-4 mx-5 my-2">
          <div class="matrix px-2 card-body">
            @if (isTaskDone(task.id)) {
              <s>{{ task.TaskContent }}</s>
            } @else {
              {{ task.TaskContent }}
            }
          </div>
          <div class="row">
            <div class="col-1 py-1 px-2">
              @if (isTaskDone(task.id)) {
                <button class="btn p-1 ms-2 border border-dark" (click)="markAsInProgress(task.id)">
                  <i class="bi bi-plus"></i>
                </button>
              } @else {
                <button class="btn p-1 ms-2 border border-dark" (click)="markAsInProgress(task.id)">
                  <i class="bi bi-plus"></i>
                </button>
              }
            </div>
            <div class="col-1 py-1 ms-3">
              <button
                class="btn p-1 border border-dark"
                [disabled]="isTaskDone(task.id)"
                [routerLink]="['/edit/', task.id]"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            <div class="col-1 py-1 mx-2">
              <button class="btn p-1 border border-dark" (click)="removeTask(task.id)">
                <i class="bi bi-trash3"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    } @empty {
      <div class="row">
        <div class="card task col-9 rounded-4 mx-5 my-2">No Tasks!</div>
      </div>
    }
  </div>
</div>
